.import/
*.import
*a.out
todo
server/todo
server/server
server/db/*
server/db/transforms.db
transforms.db
db/transforms.db
/server/db/transforms.db
example_client/*
!example_client/Network.gd
!example_client/ID.gd
